body{
    display: flex;
    height: 100vh;

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    align-items: center;
    justify-content: center;

    margin: 0;
}

#grid-container{
    display: grid;
    gap: 5px;

    width: 800px;
    aspect-ratio: 1/1;

    background-color: grey;

    color: white;
}

.cell{
    background-color: lightgrey;
}

.cell:hover{
    background-color: lightgreen;
}

.clicked{
    display: flex;

    align-items: center;
    justify-content: center;

    background-color: lightblue;

    font-size: 5em;
    font-weight: 900;
}

.red{
    background-color: lightcoral;
}

.gray{
    background-color: lightslategray;
}